{% extends 'shop/base.html' %}
{% load static %}

{% block title %}您目前的購物車明細{% endblock %}

{% block content %}
    <h1>您的購物車內容</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>圖片</th>
                <th>商品</th>
                <th>數量</th>
                <th>移除</th>
                <th>單價</th>
                <th>價格</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{product.image.url}}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.override }}
                                {% csrf_token %}
                                <input type="submit" value="更新">
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                <input type="submit" value="移除">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td class="num">${{ item.price }}</td>
                        <td class="num">${{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            {% if cart.coupon %}
                <tr class="subtotal">
                    <td>小計</td>
                    <td colspan="4"></td>
                    <td class="num">${{ cart.get_total_price|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>"{{ cart.coupon.code }}" 折價券 {{ cart.coupon.discount }}% 折扣</td>
                    <td colspan="4"></td>
                    <td class="num neg">- ${{ cart.get_discount|floatformat:2 }} </td>
                </tr>
            {% endif %}
            <tr class="total">
                <td>總計</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price_after_dicount|floatformat:2 }}</td>
            </tr>
        </tbody>
    </table>
    <p>折價券</p>
    <form action="{% url 'coupons:apply' %}" method="post">
        {{ coupon_apply_form }}
        <input type="submit" value="確認">
        {% csrf_token %}
    </form>
    <p class="text-right">
        <a href="{% url 'shop:product_list' %}" class="button light">繼續購物</a>
        <a href="{% url 'orders:order_create' %}" class="button">結帳</a>
    </p>
{% endblock %}