{% extends 'shop/base.html' %}

{% block title %}進行結帳{% endblock %}

{% block content %}
    <h1>進行結帳</h1>
    <div class="order-info">
        <h3>您的訂單資訊</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity}} x {{ item.product.name }}
                    <span>${{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>總計: {{ cart.get_total_price }}</p>
    </div>
    <form class="order-form" method="post">
        {{ form.as_p }}
        <input type="submit" value="成立訂單">
        {% csrf_token %}
    </form>
{% endblock %}
