<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">My Shop</a>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    你的購物車共有<a href="{% url 'cart:cart_detail' %}">{{ total_items }} 件商品，${{ cart.get_total_price }}</a>
                {% elif not order %}
                    你的購物車是空的
                {% endif %}
            {% endwith %}

        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>